*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFDEAD;
}

body > div {
    background-color: #FFFFF0;
    max-width: 750px;
    margin-inline: auto;
    margin-block: 64px;
    padding: 40px;
    border-radius: 24px;
}

h1, h2 {
    font-family: 'Inter', serif;
    color: #c17b3d;
    margin-bottom: 24px;
}

p{
    font-family: 'Mulish', serif;
    margin-bottom: 15px;
}